@mixin animation(
    $name,
    $duration: 1s,
    $iteration-count: infinite,
    $delay: 0s,
    $timing-function: ease,
    $fill-mode: normal,
) {
    animation: {
        name: $name;
        duration: $duration;
        iteration-count: $iteration-count;
        delay: $delay;
        timing-function: $timing-function;
        fill-mode: $fill-mode;
    }
}

@keyframes kf-animate-chars {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    30% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes {
    
}
