@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  30% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes kf-cover1-slide {
  0% {
    clip-path: polygon(0% 0%, 50% 50%, 0% 50%, 0% 50%);
  }
  50% {
    clip-path: polygon(0% 0%, 50% 50%, 0% 0%, 0% 50%);
  }
  100% {
    clip-path: polygon(0% 0%, 50% 50%, 0% 0%, 0% 50%);
  }
}
@keyframes kf-cover2-slide {
  0% {
    clip-path: polygon(0% 0%, 50% 0%, 50% 50%, 50% 50%);
  }
  50% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 50%, 50% 50%);
  }
  100% {
    clip-path: polygon(50% 0%, 50% 0%, 50% 50%, 50% 50%);
  }
}
@keyframes kf-cover3-slide {
  0% {
    clip-path: polygon(100% 0%, 50% 0%, 50% 50%, 50% 50%);
  }
  50% {
    clip-path: polygon(100% 0%, 50% 50%, 50% 50%, 50% 50%);
  }
  100% {
    clip-path: polygon(100% 0%, 50% 50%, 50% 50%, 50% 50%);
  }
}
@keyframes kf-cover4-slide {
  0% {
    clip-path: polygon(100% 50%, 100% 0%, 50% 50%, 50% 50%);
  }
  50% {
    clip-path: polygon(100% 50%, 100% 50%, 5% 50%, 50% 50%);
  }
  100% {
    clip-path: polygon(100% 50%, 100% 50%, 5% 50%, 50% 50%);
  }
}
@keyframes kf-cover5-slide {
  0% {
    clip-path: polygon(100% 100%, 100% 0%, 100% 50%, 50% 50%);
  }
  50% {
    clip-path: polygon(100% 100%, 100% 0%, 100% 100%, 50% 50%);
  }
  100% {
    clip-path: polygon(100% 100%, 100% 0%, 100% 100%, 50% 50%);
  }
}
@keyframes kf-cover6-slide {
  0% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 50% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 50% 100%, 100% 100%, 50% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 100% 100%, 50% 100%);
  }
}
@keyframes kf-cover7-slide {
  0% {
    clip-path: polygon(50% 50%, 50% 100%, 0% 100%, 50% 50%);
  }
  50% {
    clip-path: polygon(50% 50%, 50% 50%, 0% 100%, 50% 50%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 50%, 0% 100%, 50% 50%);
  }
}
@keyframes kf-cover8-slide {
  0% {
    clip-path: polygon(0% 50%, 50% 50%, 0% 100%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 50%, 50% 50%, 0% 50%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 50%, 50% 50%, 0% 50%, 0% 0%);
  }
}
@keyframes kf-cover9-slide {
  0% {
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
  }
  25% {
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: left;
  }
  75% {
    transform: scaleX(1);
    transform-origin: left;
  }
  75.1% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleY(0);
    transform-origin: right;
  }
}
.container {
  padding: 0 20px;
}

.site-title {
  margin-bottom: 20px;
}

.mainvisual > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.title-area {
  padding: 80px 0;
  text-align: center;
}
.title-area .site-title {
  font-size: 1.8rem;
}
.title-area .site-title .char {
  display: inline-block;
  animation-name: kf-animate-chars;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: normal;
}
.title-area .site-title .char:nth-child(1) {
  animation-delay: 0.09s;
}
.title-area .site-title .char:nth-child(2) {
  animation-delay: 0.18s;
}
.title-area .site-title .char:nth-child(3) {
  animation-delay: 0.27s;
}
.title-area .site-title .char:nth-child(4) {
  animation-delay: 0.36s;
}
.title-area .site-title .char:nth-child(5) {
  animation-delay: 0.45s;
}
.title-area .site-title .char:nth-child(6) {
  animation-delay: 0.54s;
}
.title-area .site-title .char:nth-child(7) {
  animation-delay: 0.63s;
}
.title-area .site-title .char:nth-child(8) {
  animation-delay: 0.72s;
}
.title-area .site-title .char:nth-child(9) {
  animation-delay: 0.81s;
}
.title-area .site-title .char:nth-child(10) {
  animation-delay: 0.9s;
}
.title-area .site-title .char:nth-child(11) {
  animation-delay: 0.99s;
}

@media (min-width: 835px) {
  .photos__main {
    display: flex;
  }
}
.photos__item {
  list-style: none;
  width: 100%;
  height: 500px;
}
.photos__item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.recipe-button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 45px;
}
.recipe-button > a {
  display: inline-block;
  color: black;
  border: 1px solid black;
  padding: 20px 60px;
  text-decoration: none;
  font-size: 14px;
}

.footer {
  margin-bottom: 20px;
  text-align: center;
}
.footer .sns {
  margin-bottom: 20px;
}
.footer .sns__main {
  display: flex;
  justify-content: center;
}
.footer .sns__item {
  color: black;
  font-size: 0.8rem;
  list-style: none;
  margin-right: 20px;
}
.footer .sns__item:last-child {
  margin-right: 0;
}
.footer .sns__item > a {
  color: black;
  font-size: 0.6rem;
}
.footer .copyright {
  font-size: 0.7rem;
}/*# sourceMappingURL=style.css.map */